
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>流控软件开发部-内源周报</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body th:style="'margin: 0; padding: 0;'">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td th:style="'padding: 10px 0 30px 0;'">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="500" th:style="'border: 1px solid #cccccc; border-collapse: collapse;'">
                <tr>
                    <td align="center" bgcolor="#70bbd9" th:style="'padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;'">
                        <img src="sample.jpg" th:src="|cid:${banner}|" alt="为了流控加油！" th:style="'display: block;'" />
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#ffffff" th:style="'padding: 40px 30px 40px 30px;'">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center" th:style="'color: #153643; font-family: Arial, sans-serif; font-size: 28px; align:center'">
                                    <a href="#" th:href="@{${baseUrl}}" th:style="'color: #174869;'"> <b>流控深圳内源周报</b>>>点击寻找彩蛋</a>
                                </td>
                            </tr>
                            <tr>
                                <td align="center"  th:style="'padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 10px;align:center'">
                                    <b th:text="${period}">当前日期</b>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="260" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td>
                                                            <img src="sample.jpg" th:src="|cid:${qos}|" alt=""  th:style="'display: block;'" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" th:style="'padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 16px;'">
                                                            <b>QOS组口号：流控我们才是核心！</b>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td th:style="'font-size: 0; line-height: 0;'" width="20">
                                                &nbsp;
                                            </td>
                                            <td width="260" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td>
                                                            <img src="sample.jpg" th:src="|cid:${cxb}|" alt="" th:style="'display: block;'"  />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" th:style="'padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 16px;'">
                                                            <b>子卡OM&整机口号：把控全局靠我们！</b>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td th:style="'font-size: 0; line-height: 100px;'" width="100%">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="260" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td>
                                                            <img src="sample.jpg" th:src="|cid:${frm}|" alt=""  th:style="'display: block;'" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" th:style="'padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 16px;'">
                                                            <b>交叉组口号：流量的中转站！</b>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td th:style="'font-size: 0; line-height: 0;'" width="20">
                                                &nbsp;
                                            </td>
                                            <td width="260" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td>
                                                            <img src="sample.jpg" th:src="|cid:${project}|" alt=""  th:style="'display: block;'"  />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" th:style="'padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 16px;'">
                                                            <b>流控深圳团队：质量之担当，颜值之担当</b>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td bgcolor="#ee4c50" th:style="'padding: 30px 30px 30px 30px;'">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td th:style="'color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;'" width="75%">
                                    &reg; brougt to you by 00190167@流控软件悍码队<br/>
                                    <a href="#" th:href="@{${baseUrl}}" th:style="'color: #ffffff;'"><font color="#ffffff">排名数据详细</font></a> 请用谷歌浏览器访问
                                </td>
                                <td align="right" width="25%">
                                    <table border="0" cellpadding="0" cellspacing="0">
                                        <tr>

                                            <td th:style="'font-size: 0; line-height: 0;'" width="20">&nbsp;</td>
                                            <td th:style="'font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;'">
                                                <a href="http://3ms.huawei.com/km/groups/3169159/home?l=zh-cn" th:style="'color: #ffffff;'">
                                                    <img src="sample.jpg" th:src="|cid:${banner}|" alt="Facebook" width="38" height="38" th:style="'display: block;'" border="0"  />
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


</body>
</html>